html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", arial, \5b8b\4f53, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background: linear-gradient(#b3d7f8, #7beaea 50%, #3db8f1 90%);
}
h1,
h2,
h3,
h4,
h5,
h6 { 
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}